/* global.css */

.flex-container {
    display: flex;
}

.navigation-container {
    width:100%;
}

.left-nav-container {
    flex: 0 0 15vh;
    max-width: 10em;
    /* 왼쪽 네비게이션의 스타일 */
}

.main-content-container {
    flex: 1;
    /* 메인 컨텐츠 영역의 스타일 */
}

.navigation_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: black;
}

.navigation_bar img {
    height: 5vw;
}

.navigation_bar ul {
    display: flex;
    justify-content: space-around;
    width: 50vh;
    list-style: none;
    cursor: pointer
}

.navigation_bar li {
    color: white;
}

.navigation_bar p {
    color: white;
    min-width: 3em;
    cursor: pointer
}

.map_div{
    position: relative;
    width: 29vh;
}

.map_div::after{
    display: block;
    content: "";
    padding-bottom: 100%;
}

.map_content{
    position: absolute;
    width: 100%;
}

.square {
    width: 1.5vh;
    height: 1.5vh;
    display: inline-block;
    margin: 0;
    border: solid 1px #333;
}

.hidden {
    background-color: black;
}

.revealed {
    background-color: white;
}

.current {
    background-color: red;
}

.adjacent {
    background-color: grey;
}

/* 초록색 칸 스타일 */
.square.special-green {
    background-color: green;
}

/* 노란색 칸 스타일 */
.square.special-yellow {
    background-color: yellow;
}



/* 모바일 뷰 (기본 스타일) */
.background-container {
    background-image: url('/image/main.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

/* 태블릿 뷰 */
@media (min-width: 768px) {
    .background-container {
        /* 태블릿에 적합한 스타일 */
    }
}

/* 데스크톱 뷰 */
@media (min-width: 992px) {
    .background-container {
        /* 데스크톱에 적합한 스타일 */
    }
}

.center-div {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    height: 60vh;
    width: 100vw;
}

/* 폼의 너비를 지정하고, 패딩과 테두리를 너비 계산에 포함 */
.form {
    display: flex;
    flex-direction: column;
    width: 100%; /* 폼 너비를 전체로 설정 */
    max-width: 20vw; /* 폼의 최대 너비 설정 */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #ffffff;
    box-sizing: border-box;
}

.form-group {
    display: flex;
    justify-content: flex-start; /* 레이블을 시작 지점에 정렬 */
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.form-group label {
    min-width: 100px;
    text-align: right; /* 레이블 텍스트를 우측 정렬 */
}

.form-group input {
    flex-grow: 1; /* 입력 필드가 남은 공간을 모두 차지하도록 설정 */
    margin-left: 10px;
}

/* 버튼을 중앙에 위치시키기 위한 스타일 */
.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button-container button {
    margin-top: 10px;
}
